.Messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}

.Message {
  width: 90%;
  padding: 0 16px;
  border-radius: 16px;
  font-size: 14px;

  &[data-role="user"] {
    align-self: flex-end;
    background: light-dark(#f3f3f3, #303030);
  }

  &[data-role="system"] {
    background: light-dark(#f9dbdb, #6d3030);
  }
}

.Group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Group:nth-last-of-type(2) {
  min-height: calc(100% - 8px);
}